@model Proiect_DAW.Models.Category

@{
    ViewBag.Title = "Afisare categorie";
}

<h2 class="text-center" style="color: #FF7043;">@ViewBag.Title</h2>

<br />

<p style="color: #FF7043; font-weight: bold;">@Model.CategoryName</p>

<form method="post" asp-controller="Categories" asp-action="Delete" asp-route-id="@Model.Id">
    <button class="btn" style="background-color: #FF7043; color: white;" type="submit">Șterge categoria</button>
</form>

<br />

<a class="btn" href="/Categories/Index/" style="background-color: #FFB74D; color: #FF7043;">Afisare lista categorii</a>

<br />
<hr />
<br />
